@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: white;
  font-family: "Poppins", sans-serif;
}
tbody {
  font-weight: 300;
}
table {
  color: black;
}
.table-div {
  border: 1px solid gray;
  border-radius: 1rem;
}
body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.hide-bar::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.hide-bar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
